#root {
  width: 1184px;
  height: 740px;
  background-color: #09011a;
  position: relative;
}
.button {
  font-size: 32px;
  position: absolute;
  padding: 10px;
  background-color: orange;
  top: 0px;
  left: 0px;
}
.save {
  position: absolute;
  background-color: #c7a6a6;
  top: 220px;
  left: 482px;
  font-size: 20px;
}
.save-overflow {
  overflow: auto;
  height: 300px;
  width: 220px;
}
.save-button {
  width: 85%;
  padding: 5px;
  background-color: rgb(35, 179, 236);
}
.save-delete {
  width: 15%;
  padding: 5px;
  background-color: rgb(236, 65, 35);
}
#newGame,
#saveGame {
  top: 33%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
#loadGame,
#returnBack {
  top: 67%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
